html, body {
    width:100%;
    padding:0;
    margin:0;
    font-size:16px;
}
* {
    box-sizing: border-box;
}

h1 {
    color:orange;
}
h1, h2, h3, h4 {
    text-align: center;
}
nav {
    text-align: center;
}
nav a {
    display: inline-block;
    padding:1rem;
}
a {
    text-decoration: none;
    color: #666666;
}
nav a:hover {
    background-color: lightgreen;
}

img {
    width:100%;
    max-height: 40vh;
    object-fit: cover;
}
article img {
    height:300px;
}
.gris {
    background-color: #cccccc;
}

.vert {
    background-color: lightgreen;
}

.annonces {
    display: flex;
    flex-wrap: wrap;
    width:100%;
}

.annonces article {
    background-color: #dddddd;
    padding:1rem;
    margin:0.5rem;
    width: calc( 100% / 3 - 1rem);  /* on enleve 2x margin */
}

section {
    padding:1rem;
}
footer {
    padding: 2rem;
    text-align: center;
}
form {
    padding: 1rem;
}
.form-group label {
    display: inline-block;
    width: 80px;
}