<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MON SITE SYMFONY</title>
</head>
<body>
    <header>
        <nav>
            <a href="./">accueil</a>
        </nav>
    </header>
    <main>
        <section>
            <h1>PAGE CONTACT</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, quisquam minima esse optio vero, dolorum velit consequatur voluptatem explicabo labore ipsum et ea perferendis autem ipsam quas recusandae culpa asperiores?</p>
        </section>
    </main>
    <footer>
        <p>tous droits réservés</p>
    </footer>
</body>
</html>